<!DOCTYPE html>
<html>
<head>
<title>
    My First Webpage
</title>
<link rel="stylesheet" href="a8.css">
<!--<style>
    body{background-color:lightgreen}
</style>-->
</head>
<body><!--<body style="background-color:powderblue;">-->
<h1 style="color:blue">
    <i>Aleksandros Ntine</i>
</h1>
<p>
    I am very interested in the use of computers.
</p>
<p>
    I am learning how to create a simple web page.
</p>
<h2 style="color:purple">
    <i>My University</i>
</h2>
<p> 
    <a href="http://www.yorku.ca">York University</a>
</p>
<h3 style="color:green">
    <i>Healthy Foods</i>
</h3>
<h4 style="color:darkblue">
    <i><b>Recommended Foods</b></i>
</h4>
<br>
<img src=https://food-guide.canada.ca/static/assets/visual_en.png" width = "200"
"/>

<br>

<img src="high-water-foods.jpg" width = "200""/>
<h4 style="color:red">
    <i>Favorite Foods</i>
</h4>
<script type="text/javascript">
 function showImage(){
 document.getElementById('loadingImage').style.visibility="visible";
 }
 </script>
 <input type="button" value="Show Food" onclick="showImage();"/>
 <img id="loadingImage" src="pizza.jpg" width = “200” style="visibility:hidden"/>
</body>